<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
        <add name="RestaurantDB" connectionString="Server=REMOVED_PRIVATE;Database=Restaurant;User Id=REMOVED_PRIVATE;Password=REMOVED_PRIVATE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RestaurantApp.Properties.Settings.ConnectionString"
            connectionString="Data Source=REMOVED_PRIVATE;Initial Catalog=Restaurant;User ID=REMOVED_PRIVATE;Password=REMOVED_PRIVATE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  
</configuration>
